{% extends "layout.html" %}

{% block script1 %}
    <script src="{{ url_for('static', filename='js/js1.js') }}"></script>
{% endblock %}


{% block form %}
    <div id="div_form" class="box" action="#">
        <h1>Login</h1>
        <hr>
        <h6>You need to enter a username to use the chat</h6>
        <form id="form">
            <input id="user_input" type="text" autocomplete="off" placeholder="Enter your username:">
            <input id="btn-submit" type="button" value="Submit">
        </form>
    </div>
{% endblock %}

{% block form_script %}
    <script>
        localStorage.setItem("user", "")
        if(localStorage.getItem("user") !== ''){
            document.querySelector('.box').remove()
            window.location.assign("/chat")
        }
    </script>
{% endblock %}