<!DOCTYPE html>
<html>
    <head>
        <meta charsert="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Chat app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style0.css') }}">

        <script src="{{ url_for('static', filename='js/js1.js') }}"></script>

    </head>
    <body>
        <div id="div_form" class="box" action="#">
            <h1>Login</h1>
            <hr>
            <h4>You need to enter a username to use the chat</h4>
            <form id="form">
                <input id="user_input" type="text" autocomplete="off" placeholder="Enter your username:">
                <input id="btn-submit" type="submit" value="Submit">
            </form>
        </div>
    </body>

    <script>
        document.querySelector("#div_form").style.visibility = "hidden"
    </script>

</html>