.jumbotron{ 
    background-color: #2E2D88;
}

.text_white{
    color: white;
}

#text_black{
    color: black;
}

#Title{
    text-align: center;
    color: white;
}

#nav_link{
    background-color: white;
}

.nav-item{
    background-color: #2E2D88;
}

.nav-link{
    color: white;
}

#Personal_photo{
    border-radius: 50px;
    width: 25%;
    align-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.card{
    box-shadow: 16px 20px 16px 0 rgba(50, 6, 207, 0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5px 5px 0 0px;
}

body{
    background-color: black;
}

@media (min-width: 700px){
    h1::before{
        content: "My first non-yet-very-professional web page";
    }

    .right{
        display: block;
        margin-left: auto;
        margin-right: 2px;
        width: 50%;
    }

    .left{
        display: block;
        margin-left: 2px;
        margin-right: auto;
        width: 50%;
    }
}

@media (max-width: 699px){
    h1::before{
        content: "My first web page";
    }

    .right{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .left{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

table {
    table-layout: fixed ;
    width: 100% ;
  }
  td {
    width: 50% ;
  }